<footer class="w3-container w3-blue w3-padding-16" style="bottom: 0;">
    <div class="w3-row w3-section">
        <div class="w3-third w3-container w3-text-white w3-large" style="height:200px">
          <h2>Contact Info</h2>
          <p><i class="fa fa-map-marker" style="width:30px"></i> Cape Flats, SA</p>
          <p><i class="fa fa-phone" style="width:30px"></i><a href="tel:+27 6969000" class="w3-text-white" >Phone: +27 6969000</a></p>
          <p><i class="w3-large fa fa-envelope" style="width:30px"></i><a href="mailto: welcome@405found.com" class="w3-text-white">Email: info@405found.com</a></p></a>
        </div>
        <div class="w3-third w3-center w3-large" style="height:100px">
          <i class="w3-text-white w3-large w3-button"></i><a href="https://help.twitter.com/en" class="w3-text-white"><h2>About</h2></a>
         <i class="w3-text-white w3-large w3-button"></i><a href="https://help.twitter.com/en/rules-and-policies/twitter-rules" class="w3-text-white"><h2>Policies</h2></a>
         <i class="w3-text-white w3-large w3-button"></i><a href="https://help.twitter.com/en" class="w3-text-white"><h2>Help Center</h2></a>
        </div>
        <div class="w3-third w3-center w3-large w3-blue w3-text-white" style="height:200px">
          <h2>Like Us</h2>
          <a href="https://www.facebook.com/klensch.lucas"><i class="w3-text-white w3-xlarge w3-button fa fa-facebook-official"></i></a>
          <a href="https://www.facebook.com/bheki.sibbs.1"><i class="w3-text-white w3-xlarge w3-button fa fa-pinterest-p"></i></a>
          <a href="https://www.health24.com/Lifestyle/Man/News/How-this-ex-prisoner-has-his-facial-tattoos-removed-and-cleans-up-his-life-20141211"><i class=" w3-text-white w3-xlarge w3-button fa fa-linkedin"></i></a>
        </div>
      </div>
</footer>