<footer class="w3-container w3-blue w3-padding-16" style="bottom: 0;">
    <div class="w3-row w3-section">
        <div class="w3-third w3-container w3-blue w3-large" style="height:200px">
          <h2>Contact Info</h2>
          <p><i class="fa fa-map-marker" style="width:30px"></i> Cape Flats, SA</p>
          <p><i class="fa fa-phone" style="width:30px"></i> Phone: +27 6969000</p>
          <p><i class="fa fa-envelope" style="width:30px"> </i> Email: mail@hi405found.com</p>
        </div>
        <div class="w3-third w3-center w3-large w3-text-white" style="height:200px">
          <h2>About</h2>
          <h2>Blog</h2>
          <h2>Policies</h2>
          <h2>Help Center</h2>
        </div>
        <div class="w3-third w3-center w3-large w3-blue w3-text-white" style="height:200px">
          <h2>Like Us</h2>
          <i class="w3-xlarge w3-button fa fa-facebook-official"></i>
          <i class="w3-xlarge w3-button fa fa-pinterest-p"></i>
          <i class="w3-xlarge w3-button fa fa-linkedin"></i>
        </div>
      </div>
</footer>