<footer class="w3-container w3-blue w3-padding-16" style="bottom: 0;">
    <div class="w3-row w3-section">
        <div class="w3-third w3-container w3-blue w3-large" style="height:200px">
            <h2>Contact Info</h2>
            <a href="https://goo.gl/maps/n85yQozKm41v2jey8" target="blank"><i class="fa fa-map-marker"
                    style="width:30px"></i>Cape Town, SA </a>
            <br>
            <a href="tel:+27 6969000" target="blank"><i class="fa fa-phone" style="width:30px"></i>Phone: +27 6969000
            </a> <br>
            <a href="mailto:mail@405found.com" title="Contact us" target="blank"><i class="fa fa-envelope"
                    style="width:30px"></i>Email: mail@405found.com</a>
            </p>
        </div>
        <div class="w3-third w3-center w3-large w3-blue w3-text-white" style="height:200px">
            <h2>Help</h2>
            <a href="/about" title="About">About</a><br>
            <a href="/policies" title="Policies">Policies</a><br>
            <a href="/help" title="Help">Help Center</a>
        </div>
        <div class="w3-third w3-center w3-large w3-blue w3-text-white" style="height:200px">
            <h2>Like Us</h2>
            <a href="https://www.facebook.com/david.c.williams.167" target="blank"><i
                    class="w3-xlarge w3-button fa fa-facebook-official"></i>Facebook</a><br>
            <a href="#" target="blank"><i class="w3-xlarge w3-button fa fa-pinterest-p"></i>Pinterest</a><br>
            <a href="#" target="blank"><i class="w3-xlarge w3-button fa fa-linkedin"></i>Linkedin</a>
        </div>
    </div>
</footer>