<div class="w3-top">
    <div class="w3-bar w3-blue w3-left-align w3-large">
        <a class="w3-bar-item w3-button w3-hide-medium w3-hide-large w3-right w3-padding-large w3-hover-white w3-large w3-theme-d2"
            href="javascript:void(0);" onclick="openNav()"><i class="fa fa-bars"></i></a>
        <a href="/" class="w3-bar-item w3-button w3-padding-large w3-theme-d4"><img src="/static/img/logo.png"
            alt="Logo" style="max-height: 1.5em;">405 Found</a>
        <a href="/login" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white"
            title="Account Settings">Signin</a>
        <a href="/signup" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white"
            title="Messages">Signup</a>
    </div>
</div>

<!-- Navbar on small screens -->
<div id="navDemo" class="w3-bar-block w3-theme-d2 w3-hide w3-hide-large w3-hide-medium w3-large">
    <a href="/login" class="w3-bar-item w3-button w3-padding-large">Signin</a>
    <a href="/signup" class="w3-bar-item w3-button w3-padding-large">Signup</a>
</div>