<div class="w3-card w3-round w3-white w3-container">
    <h4 class="w3-center">{{ user['name'] }} {{ user['surname'] }}</h4>
    <p class="w3-center"><img src="{{ user['picture'] }}" class="w3-circle" style="height:106px;width:106px"
            alt="Avatar"></p>
    <hr>
    <p><i class="fa fa-fw fa-at w3-margin-right w3-text-theme"></i> {{ user['username'] }}</p>
    <p><i class="fa fa-pencil fa-fw w3-margin-right w3-text-theme"></i> {{ user['title'] }}</p>
    <p><i class="fa fa-home fa-fw w3-margin-right w3-text-theme"></i> {{ user['location'] }}</p>
    <p><i class="fa fa-birthday-cake fa-fw w3-margin-right w3-text-theme"></i> {{ user['dob'] }}</p>
    <p><i class="fa fa-venus-mars fa-fw w3-margin-right w3-text-theme"></i> {{ user['gender'] }}</p>
    <div class="w3-card w3-round w3-white">
        <p class="w3-center"> <strong>Biography:</strong><br>{{ user['bio'] }} </p>
    </div>
    {% if user['username'] == session_user['username'] %}
    <a href="/profile/{{ user['username'] }}" style="width: 100%;"
        class="fa fa-user w3-button w3-theme-d1 w3-margin-bottom" title="Profile Activity"> View Profile
    </a>
    <a href="/account" style="width: 100%;" class="fa fa-cog w3-button w3-theme-d1 w3-margin-bottom"
        title="Profile Activity">
        Account Settings
    </a>
    {% else %}
    {% if unfollowthisuser == true %}
    <button type="button" class="w3-button w3-theme-d1 w3-margin-bottom"
        onclick='unfollowUser("{{ user['username'] | safe}}", this);'><i class="fa fa-user"></i>
        Unfollow</button>
    {% else %}
    <button type="button" class="w3-button w3-theme-d1 w3-margin-bottom"
        onclick='followUser("{{ user['username'] | safe}}", this);'><i class="fa fa-user"></i>
        Follow</button>
    {% endif %}
    {% endif %}
</div>
<br>