{% extends 'base.html' %}

{% block content %}

{% for tweet in tweets %}
<div class="w3-container w3-card w3-white w3-round w3-margin"><br>
    <img src="{{ tweet['avatar'] }}" alt="Avatar" class="w3-left w3-circle w3-margin-right" style="width:60px">
    <span class="w3-right w3-opacity">1 min</span>
    <h4>{{ tweet['username'] }}</h4><br>
    <hr class="w3-clear">
    <p style="word-break:break-all;">{{ tweet['content'] }}</p>
    <div class="w3-row-padding" style="margin:0 -16px">
        {% for photo in tweet['photos'] %}
        <div class="w3-half">
            <img src="/static/img/photos/{{ photo }}" style="width:100%" alt="Northern Lights" class="w3-margin-bottom">
        </div>
        {% endfor %}
    </div>
    <button type="button" class="w3-button w3-theme-d2 w3-margin-bottom">
        <i class="fa fa-thumbs-up"></i>Like
    </button>
    <button type="button" class="w3-button w3-theme-d2 w3-margin-bottom">
        <i class="fa fa-retweet"></i>Retweet
    </button>
    <button type="button" class="w3-button w3-theme-d2 w3-margin-bottom">
        <i class="fa fa-comment"></i>Comment
    </button>

    <span class="w3-right">
        {% if tweet['sentiment'] == 'negative' %}
            <i class="fa fa-frown-o"></i>
        {% elif tweet['sentiment'] == 'positive' %}
            <i class="fa fa-smile-o"></i>
        {% else %}
            <i class="fa fa-meh-o"></i>
        {% endif %}
    </span>
</div>
{% endfor %}
{% endblock %}