{% extends 'base.html' %}

{% block title%}Profile page{% endblock %}

{% block content %}

<div class="w3-container w3-card w3-white w3-round w3-margin" style="margin-top:0!important;">
    <br>
    <div class="w3-row">
        <a href="javascript:void(0)" onclick="openCity(event, 'Basic Details');">
            <div class="w3-third tablink w3-bottombar w3-hover-light-grey w3-padding w3-border-blue" style="text-align: center;">Basic Details</div>
        </a>
        <a href="javascript:void(0)" onclick="openCity(event, 'Security');">
            <div class="w3-third tablink w3-bottombar w3-hover-light-grey w3-padding" style="text-align: center;">Security</div>
        </a>
        <a href="javascript:void(0)" onclick="openCity(event, 'Tab 3');">
            <div class="w3-third tablink w3-bottombar w3-hover-light-grey w3-padding" style="text-align: center;">Analystics</div>
        </a>
    </div>

    <div id="Basic Details" class="w3-container tab" style="display: inherit;">
        <h2>Basic Details</h2>
        <br>
        {% include 'partials/flash.html' %}

        <form action="/update-user-profile" method="post" enctype=multipart/form-data> <label for='name' class=''>
            Name</label>
            <input type="text" name="firstname" id="" class="w3-input w3-large w3-animate-input"
                value={{ user['name'] }} placeholder='Name' required>
            <br><br>

            <label for='name' class=''>Surname</label>
            <input type="text" name="lastname" id="" class="w3-input w3-large w3-animate-input"
                value={{ user['surname'] }} placeholder='Surname' required>
            <br><br>

            <label for='Date of Birth' class=''>Date of Birth</label>
            <input type="date" name="dob" id="" class="w3-input w3-large w3-animate-input" value={{ user['dob'] }}
                placeholder='Date of Birth' required>
            <br><br>

            <label for='Title' class=''>Title</label>
            <textarea name="title" class="w3-border w3-padding w3-opacity w3-animate-input"
                style="width: 100%; min-height: 10px;color:black;" placeholder="{{ user['title'] }}"
                required></textarea>
            <br><br>
            <label for='Bio' class=''>Bio</label>
            <textarea name="bio" class="w3-border w3-padding w3-opacity w3-animate-input"
                style="width: 100%; min-height: 10px;color:black;" placeholder="{{ user['bio'] }}" required></textarea>
            <br><br>
            <label for='image' class=''>Profile Picture</label>
            <br>
            <img src={{ user['avatar'] }} alt="" id="image" name="image" class="w3-image">
            <br>
            <input class="file-upload" type="file" class="w3-input w3-large w3-animate-input" id="picture" name="avatar"
                onchange="upload()">
            <br><br>
            <input type="submit" value="Save Details" class="w3-input w3-large w3-animate-input w3-blue">
        </form>
    </div>

    <div id="Security" class="w3-container tab" style="display:none">
        <form action="/set-new-password" method="POST">
            <h2>Security</h2>
            <label for='name' class=''>Old Password</label>
            <input type="password" name="oldpassword" id="" class="w3-input w3-large w3-animate-input" value="password"
                placeholder='Name' required>
            <br><br>
            <label for='name' class=''>New Password</label>
            <input type="password" name="newpassword0" id="" class="w3-input w3-large w3-animate-input" value="password"
                placeholder='Name' required>
            <br><br>
            <label for='name' class=''>Confirm Password</label>
            <input type="password" name="newpassword1" id="" class="w3-input w3-large w3-animate-input" value="password"
                placeholder='Name' required>
            <br><br>
            <input type="submit" value="Update Password" class="w3-input w3-large w3-animate-input w3-blue">
        </form>
    </div>

    <div id="Tab 3" class="w3-container tab" style="display:none">
        <br>
        <h3 style="text-align: center;">Top topics</h3>
        
        {% for topic in topics %}
        <div class="w3-container w3-card w3-white w3-round w3-margin" style="text-align: center;">
            <br>
            <p>{{ topic }}</p>
        </div>
        {% endfor %}



    </div>


    <script>
        function openCity(evt, cityName) {
            var i, x, tablinks;
            x = document.getElementsByClassName("tab");
            for (i = 0; i < x.length; i++) {
                x[i].style.display = "none";
            }
            tablinks = document.getElementsByClassName("tablink");
            for (i = 0; i < x.length; i++) {
                tablinks[i].className = tablinks[i].className.replace(" w3-border-blue", "");
            }
            document.getElementById(cityName).style.display = "block";
            evt.currentTarget.firstElementChild.className += " w3-border-blue";
        }
    </script>

    <br>
</div>
<script src="/static/js/upload.js"></script>
{% endblock %}