{% extends 'base-2.html' %}

{% block title%}Reset Password{% endblock %}

{% block content %}
<h1 class="w3-center">Reset Password</h1>
<br>
<form action="POST">
    <input type="text" class="w3-btn w3-blue w3-input w3-large w3-animate-input" placeholder="Email" required>
    <br>
    <input type="submit" class="w3-btn w3-blue w3-input w3-large w3-animate-input" value="Reset Password">
    <a type="submit" class="w3-btn w3-blue w3-input w3-large w3-animate-input">Signin</a>
</form>
<br>
{% endblock %}