{% extends 'base.html' %}

{% block title%}Friends{% endblock %}

{% block content %}

<div class="w3-container w3-card w3-white w3-round w3-margin" style="margin-top:0!important;">
    <br>
    <div class="w3-row">
        <a href="javascript:void(0)" onclick="changeTab(event, 'Your Tweets');">
            <div class="w3-third tabLink w3-bottombar w3-hover-light-grey w3-padding w3-border-blue"
                style="text-align:center;">Your Tweets</div>
        </a>
        <a href="javascript:void(0)" onclick="changeTab(event, 'Following');">
            <div class="w3-third tabLink w3-bottombar w3-hover-light-grey w3-padding" style="text-align:center;">
                Following</div>
        </a>
        <a href="javascript:void(0)" onclick="changeTab(event, 'Followers');">
            <div class="w3-third tabLink w3-bottombar w3-hover-light-grey w3-padding" style="text-align:center;">
                Followers</div>
        </a>
    </div>

    <div id="Your Tweets" class="w3-container tab" style="display: inherit;">
        {% for tweet in personaltweets %}
        <hr class="w3-clear">
        <div>
            <span class="w3-right w3-opacity">{{ tweet['timestamp'] }}</span>
            {{ tweet['tweet'] }}
        </div>
        <br>
        <div class="w3-row-padding" style="margin:0 -16px">
            {% for photo in tweet['photos'] %}
            <div class="w3-half">
                <img src="/static/img/photos/{{ photo }}" style="width:100%" alt="Northern Lights"
                    class="w3-margin-bottom">
            </div>
            {% endfor %}
        </div>

        <i class="fa fa-retweet"> {{ tweet['retweets'] }}</i> <i class="fa fa-heart"> {{ tweet['likes'] }}</i>
        {% endfor %}
    </div>

    <div id="Following" class="w3-container tab" style="display:none">
        {% for follow in following %}
        <hr class="w3-clear">
        <div>
            <img src="{{ follow['avatar'] }}" alt="Avatar" class="w3-left w3-circle w3-margin-right" style="width:30px">
            <a href="/profile/{{ follow['username'] }}" style="text-decoration: none;">@{{ follow['username'] }}</a>
            {% if activeunfollowbtn == True %}
            <h4><button type="button" class="w3-button w3-theme-d1 w3-right" style="font-size: 0.8rem;"><i
                        class="fa fa-user"></i>
                    Unfollow</button></h4>
            {% endif %}
            <h4>{{ follow['name'] }} {{ follow['surname']}}</h4>
        </div>
        {% endfor %}
    </div>

    <div id="Followers" class="w3-container tab" style="display:none">
        {% for follow in followers %}
        <hr class="w3-clear">
        <div>
            <img src="{{ follow['avatar'] }}" alt="Avatar" class="w3-left w3-circle w3-margin-right" style="width:30px">
            <a href="/profile/{{ follow['username'] }}" style="text-decoration: none;">@{{ follow['username'] }}</a>
            {% if follow['following'] == False %}
            <h4><button type="button" class="w3-button w3-theme-d1 w3-right" style="font-size: 0.8rem;"
                    onclick='followUser({{  follow['username'] | safe }});'><i class="fa fa-user"></i>Follow</button>
            </h4>
            {% endif %}
            <h4>{{ follow['name'] }} {{ follow['surname']}}</h4>
        </div>
        {% endfor %}
    </div>

    <script>
        const changeTab = (evt, cityName) => {
            let x = document.getElementsByClassName("tab");
            for (let i = 0; i < x.length; i++) {
                x[i].style.display = "none";
            }
            let tabLinks = document.getElementsByClassName("tabLink");
            for (i = 0; i < x.length; i++) {
                tabLinks[i].className = tabLinks[i].className.replace(" w3-border-blue", "");
            }
            document.getElementById(cityName).style.display = "block";
            evt.currentTarget.firstElementChild.className += " w3-border-blue";
        }
    </script>

    <br>
</div>
{% endblock %}