{% extends 'base.html' %}

{% block content %}
{% if account %}
<div class="w3-row-padding">
    <div class="w3-col m12">
        <div class="w3-card w3-round w3-white w3-container w3-padding">
            <form action="/" method="post">
                <div style="display: block;">
                    <img src="{{ user['picture'] }}" alt="Avatar" class="w3-left w3-circle"
                        style="width:30px; margin:1rem;">
                    <textarea name="tweet" class="w3-border w3-padding w3-opacity w3-animate-input"
                        style="width: 100%; min-height: 100px;color:black;"
                        placeholder="What's on your mind, {{ user['name'] }}?" required></textarea>
                    <div id="picturesDisplay"></div>
                </div>
                <div style="margin-top:1rem;">
                    <button type="submit" class="w3-button w3-theme" value="tweet"><i class="fa fa-pencil"></i>
                        Tweet</button>
                    <button type="button" class="w3-button w3-theme" id="imageUpload"><i class="fa fa-image"></i>
                        Add Image</button>
                    <div id="pictures" style="display: none;"></div>
                </div>
            </form>
        </div>
    </div>
</div>
{% endif %}
{% for tweet in tweets %}
<div class="w3-container w3-card w3-white w3-round w3-margin"><br>
    <img src="{{ tweet['avatar'] }}" alt="Avatar" class="w3-left w3-circle w3-margin-right" style="width:60px">
    <span class="w3-right w3-opacity">1 min</span>
    <h4>{{ tweet['username'] }}</h4><br>
    <hr class="w3-clear">
    <p>{{ tweet['content'] }}</p>
    <div class="w3-row-padding" style="margin:0 -16px">
        {% for photo in tweet['photos'] %}
        <div class="w3-half">
            <img src="/static/img/photos/{{ photo }}" style="width:100%" alt="Northern Lights" class="w3-margin-bottom">
        </div>
        {% endfor %}
    </div>
    <button type="button" class="w3-button w3-theme-d2 w3-margin-bottom"><i class="fa fa-thumbs-up"></i>
        Like</button>
    <button type="button" class="w3-button w3-theme-d2 w3-margin-bottom"><i class="fa fa-retweet"></i>
        Retweet</button>
    <button type="button" class="w3-button w3-theme-d2 w3-margin-bottom"><i class="fa fa-comment"></i>
        Comment</button>
</div>
{% endfor %}
<script src="/static/js/upload.js"></script>
<script>
    let image = 1;
    $("#imageUpload").click(function () {
        // Create file input and upload file
        let input = $(document.createElement("input"));
        input.attr("type", "file");
        input.attr("name", image++);
        input.trigger("click");
        $("#pictures").append(input);

        // Preview image
        let picturePreview = $(document.createElement("img"));
        picturePreview.addClass("w3-half");
        let file = input.files[0];
        $("#picturesDisplay").append(input);
        let reader = new FileReader();
        reader.onload = function () {
            picturePreview.attr("src", reader.result);
            console.log(picturePreview);
            $("#picturesDisplay").append(picturePreview);
            $("#picturesDisplay").append(input);
            reader.readAsDataURL(file);
        };
        reader.readAsDataURL(file);
        $("#picturesDisplay").append(picturePreview);
        $("#picturesDisplay").append(input);

        return false; // avoiding navigation
    });
</script>
{% endblock %}