{% extends 'base.html' %}

{% block title%}Messages{% endblock %}

{% block content %}

<div class="w3-container w3-card w3-white w3-round w3-margin" style="margin-top:0!important;">
    <!-- <br> -->
    <h2>Direct Messages</h2>
    <br>
    <button type="button" class="w3-button w3-theme-d1 w3-margin-bottom"><i class="fa fa-envelope"></i>
        Compose New Message</button>
    <button type="button" class="w3-button w3-theme-d1 w3-margin-bottom"><i class="fa fa-envelope-open"></i>
        Mark all as read</button>

    {% for message in messages %}
    <hr class="w3-clear">
    <div>
        <img src="{{ message['avatar'] }}" alt="Avatar" class="w3-left w3-circle w3-margin-right" style="width:30px">
        <span class="w3-right w3-opacity">{{ message['time'] }}</span>
        <h4>{{ message['username'] }}</h4>
        {{ message['content'] }}
    </div>    
    
    {% endfor %}

    
    <br>
</div>
{% endblock %}