{% extends 'base-2.html' %}

{% block title%}Signin{% endblock %}

{% block content %}
<br>

<form method="POST" action="/register">
    <h1 class="w3-center">Signup</h1>
    <br>
    <div class="w3-row">
        <div class="w3-col w3-half">
            <input type="text" class="w3-animate-input w3-input w3-large" placeholder="User Name" name="username"required>
            <input type="text" class="w3-animate-input w3-input w3-large" placeholder="First Name" name="firstname" required>
            <input type="date" class="w3-animate-input w3-input w3-large" placeholder="Date of Birth" name="dob" required>
            <input type="password" class="w3-animate-input w3-input w3-large" placeholder="Password" name="password" required>
        </div>
        <div class="w3-col w3-half">
            <input type="email" class="w3-animate-input w3-input w3-large" placeholder="Email" name="email" required>
            <input type="text" class="w3-animate-input w3-input w3-large" placeholder="Last Name" name="lastname" required>
            <select class="custom-select custom-select-md mb-0 w3-animate-input w3-input w3-large" name="gender">
                <option value="Female">Female</option>
                <option value="Male">Male</option>
                <option value="Other">Other</option>
            </select>
            <input type="password" class="w3-animate-input w3-input w3-large" placeholder="Confirm Password" name="password1" required>
        </div>
    </div>
    <br>
    <input type="submit" class="w3-animate-input w3-input w3-large w3-center w3-blue" placeholder="Signup"
        value="Signup">
    <a href="/login" class="w3-animate-input w3-input w3-large w3-center w3-blue">Have Account</a>
</form>
<br>
{% endblock %}