{% extends 'base-2.html' %}

{% block title%}Signin{% endblock %}

{% block content %}
<br>

<form method="POST" action="/register">
    <h1 class="w3-center">Signup</h1>
    <br>
    <div class="w3-row">
        <div class="w3-col w3-half">
                <input type="text" class="w3-animate-input w3-input w3-large" placeholder="First Name" name="fname" required>
            <input type="text" class="w3-animate-input w3-input w3-large" placeholder="User Name" required>
            <input type="email" class="w3-animate-input w3-input w3-large" placeholder="Email" name="email" required>
            <select class="custom-select custom-select-md mb-0 w3-animate-input w3-input w3-large">
                <option value="1">Female</option>
                <option value="2">Male</option>
                <option value="3">Other</option>
            </select>
        </div>
        <div class="w3-col w3-half">
            <input type="text" class="w3-animate-input w3-input w3-large" placeholder="Last Name" name="lname" required>
            <input type="date" class="w3-animate-input w3-input w3-large" placeholder="Cellphone Number" required>
            <input type="password" class="w3-animate-input w3-input w3-large" placeholder="Password" required>
            <input type="password" class="w3-animate-input w3-input w3-large" placeholder="Confirm Password" required>
        </div>
    </div>
    <br>
    <input type="submit" class="w3-animate-input w3-input w3-large w3-center w3-blue" placeholder="Signup"
        value="Signup">
    <a href="/signin" class="w3-animate-input w3-input w3-large w3-center w3-blue">Have Account</a>
</form>
<br>
{% endblock %}